<footer>
    <div class="f-info">
        <div class="f-info-socials main-color">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div class="f-info-brand main-color">&copy; 2025 StayNest. All Rights Reserved.</div>
        <div class="f-info-links main-color">
            <a class="main-color" href="/privacy">Privacy</a> 
            <a class="main-color" href="/terms">Terms & Conditions</a>
        </div>
    </div>
</footer>