<% layout("layouts/boilerplate") %>
<div class="row mt-5">
    <h1 class="col-4 offset-4 signup-h1-color">Login StayNest</h1>
    <div class="col-4 offset-4 mt-3">
        <form action="/login" method="post" class="form-label main-color">
            <label for="username">Username :</label>
            <input type="text" name="username" id="username" class="form-control" required>
            <label for="password" class="mt-2">Password :</label>
            <input type="password" name="password" id="password" class="form-control" required>
            <button class="btn btn-success mt-3 w-100">Log In</button>
        </form>
        <p class="mt-3 text-center">Don't have an account? <a href="/signup">Sign Up</a></p>
    </div>
</div>